<div class="container">
  <div class="row">
    <div class="col">
      <h3>
        Tu carrito de compras!!
        <small class="text-muted">En esta seccion encontraras todas tus compras acumuladas</small>
      </h3>
    </div>
  </div>

  <hr class="invisible">

  <div class="row">
    <div class="col">
      <% if !@purchases.empty? %>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
              <th scope="col">Pago</th>
            </tr>
          </thead>
          <tbody>
            <% total_payment = 0 %>
              <% @purchases.each do |purchase| %>
                <tr>
                  <td><%= purchase['product_name'] %></td>
                  <td><%= purchase['product_quantity'] %></td>
                  <td><%= number_to_currency(purchase['product_price'] )%></td>
                  <td><%= number_to_currency(purchase['product_quantity'].to_i*purchase['product_price'].to_f) %></td>
                  <% total_payment += purchase['product_quantity'].to_i*purchase['product_price'].to_f %>
                </tr>
              <% end %>
          </tbody>
        </table>

        <div class="row">
          <div class="col col-md-6 col-sm-12">
            <form>
              <label for=""> Total a pagar $: </label>
              <input  type="text" class="form-control" value="<%= number_to_currency(total_payment) %>" readonly>
            </form>
            <hr class="invisible">

          </div>

          <div class="col col-md-6 col-sm-12">
            <form>
              <label for=""> Metodo de pago: </label><br>
              <button type="button" class="btn btn-primary btn-block" onclick="payWindow();">
                Ventanilla
              </button>
              <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#paymentSpeiModal">
                SPEI
              </button>
            </form>
          </div>
        </div>

      <% else %>
        Aun no compras nada
      <% end %>
    </div>
  </div>
</div>

<!-- Modal Spei -->
<div class="modal fade" id="paymentSpeiModal" tabindex="-1" role="dialog" aria-labelledby="Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Pago con Tarjeta</h5>

      </div>
      <div class="modal-body">

        <form id="formulario_spei" onsubmit="return false" >
          <div class="form-group">
            <label for="Email1">Correo electronico</label>
            <input type="email" class="form-control" id="Email1" aria-describedby="emailHelp" value= "<%= current_user.email %>">
          </div>
          <div class="form-group">
            <label for="creditCardNumber">Numero de tarjeta</label>
            <input type="text" class="form-control" id="creditCardNumber" placeholder="Ej. 857 487 ...">
            <small id="" class="form-text text-muted">
              Contiene 16 digitos
            </small>
          </div>

          <div class="form-group">
            <label for="creditCardKeyNumber">Codigo (3 digito en la parte posterior de su tarjeta)</label>
            <input type="password" class="form-control" id="creditCardKeyNumber" placeholder="...">
            <small id="" class="form-text text-muted">
              Contiene 3 digitos
            </small>
          </div>

          <div class="form-group">
            <label for="">Importe</label>
            <input type="text" class="form-control" id="fullPayment" value="<%= number_to_currency(total_payment) %>">
          </div>

          <button type="submit" class="btn btn-primary">Pagar</button>
        </form>

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!--modal-->

<!-- Modal Ventanilla -->
<div class="modal fade" id="paymentWindowModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Pago exitoso</h5>
      </div>
      <div class="modal-body">

        <form id="formulario_ventanilla" onsubmit="return false" >

          <div class="form-group">
            <label for="invoiceFolio">Folio</label>
            <input id="folio" type="text" class="form-control" id="fullPayment" value="">
          </div>

          <div class="form-group">
            <label for="">Fecha de pago</label>
            <input type="text" class="form-control" id="fecha_pago_ventanilla" value="<%= number_to_currency(total_payment) %>">
          </div>

          <div class="form-group">
            <label for="">Multa</label>
            <input type="text" class="form-control" id="multa" value="">
          </div>

          <div class="form-group">
            <label for="">Importe</label>
            <input type="text" class="form-control" id="fullPayment_ventanilla" value="<%= number_to_currency(total_payment) %>">
          </div>

          <button type="submit" onclick="goToHome();" class="btn btn-primary">Continuar</button>
        </form>

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  window.addEventListener('load', function(){
    var formSpei = document.getElementById("formulario_spei");

    // Formulario de pago por spei
    formSpei.addEventListener('submit', function(){
      var tarjeta = document.getElementById("creditCardNumber").value;
      var codigo = document.getElementById("creditCardKeyNumber").value;

      // debe tener exactamente 16 numeros
      if (tarjeta.length < 16 || tarjeta.length > 16 || isNaN(tarjeta) ) {
        return false;
      }

      // debe tener exactamente 3 numeros
      if (codigo.length < 3 || codigo.length > 3 || isNaN(codigo) ) {
        return false;
      }
      paySpei(tarjeta)

    });
  });

  // continua con la compra
  function paySpei(tarjeta){

    $.ajax({
      type: 'post',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      global: false,
      url: '/pay_with_spei',
      data: {
        tarjeta: tarjeta
      },
      success: function(x) {
        goToHome()
      }
    });
  }

  // genera factura y concepto de pago por Ventanilla
  function payWindow(){

    $.ajax({
      type: 'post',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      global: false,
      url: '/pay_per_window',
      data: {
      },
      success: function(payment) {
        total_a_pagar = "<%= total_payment %>"
        total_a_pagar = parseFloat(total_a_pagar) + parseFloat(payment.penalty)
        document.getElementById('fullPayment_ventanilla').value = total_a_pagar.toFixed(2);
        document.getElementById("folio").value = payment.invoice_id
        document.getElementById("fecha_pago_ventanilla").value = payment.payment_date
        document.getElementById("multa").value = payment.penalty.toFixed(2);
        $('#paymentWindowModal').modal('show');
      }
    });
  }

</script>
