<div class="container">
  <div class="row">
    <div class="col">
      <h3>
        <%= @product.name %>
        <small class="text-muted"><%= @product.description %></small>
      </h3>
    </div>
  </div>

  <hr>
  
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <label for=""><%= number_to_currency(@product.price) %></label>
        </div>
        <div class="form-group">
          <label for="">Cantidad</label>
          <input type="number" class="form-control" id="cantidad_requerida" placeholder="cantidad" onkeyup="calculateFullPayment(this)" onkeypress="javascript:return isNumber(event)">
        </div>
      </form>
    </div>
    <div class="col">

    </div>
  </div>

  <div class="row">
    <div class="col">
      <form>
        <label for=""> Total a pagar $: </label>
        <input id="total_a_pagar" type="text" class="form-control" readonly>
      </form>
      <hr class="invisible">
      <button class="btn btn-primary" onclick="addToShoppingCart()">Agregar al carrito</button>
    </div>
    <div class="col">

    </div>
  </div>
</div>

<script type="text/javascript">

  $( document ).ready(function() {
    full_payment.value = price;
    document.getElementById("cantidad_requerida").value = 1;
  });

  // Precio del producto
  var price = parseFloat("<%= number_to_currency(@product.price, :unit => "").sub(',', '') %>")

  // elemento que contiene el pago total
  var full_payment = document.getElementById("total_a_pagar");

  // Nombre del Producto
  var product_name = "<%=  @product.name %>";

  // Validacion para solo aceptar numeros
  function isNumber(evt) {
    var iKeyCode = (evt.which) ? evt.which : evt.keyCode
    if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57)){
      return false;
    }
    return true;
  }

  // Calcula el total a pagar
  // cantidad_de_producto * precio_producto
  function calculateFullPayment(product_quantity){

    if (product_quantity.value.length > 0) {
      if (product_quantity.value < 1) {
        product_quantity.value = 1;
      }
      full_payment.value = (price * product_quantity.value).toFixed(2);
    }else {
      product_quantity.value = 1;
    }
  }

  // Guarda la compra en el carrito de compras
  function addToShoppingCart(){

    product_quantity = document.getElementById("cantidad_requerida").value
    $.ajax({
      type: 'post',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      global: false,
      url: '/add_to_shopping_cart',
      data: {
        name: product_name,
        priece: price,
        quantity: product_quantity
      },
      success: function(x) {
        goToHome();
      }
    });
  }

</script>
